.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url('../../../assets/images/LOGIN.jpg');
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Sección izquierda (imagen) */
.left-section {
  flex: 1;
}

/* Sección derecha (formulario) */
.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Formulario */
.form-container {
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #f05a00;
  font-weight: bold;
  font-size:x-large;
  margin-bottom: 20px;
  text-align: center;
  margin: 20px;
}


input {
  width: 100%;
  padding: 10px;
  border: 1px solid #5e5e5e;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

input:focus {
  border-color: #6a0dad;
  outline: none;
}

.forgot {
  align-self: center;
  font-size: 0.9em;
  margin-bottom: 15px;
  color: #333;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

.negrita{
    font-weight: bold;
}

.title  {
    font-size: 30px;
    font-weight: bold;
    color: #dd6117;
    text-shadow: 1px 1px 3px gray;
    font-family: 'Arial', sans-serif;

}

/* Botones */
.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.gray-btn, .orange-btn {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.gray-btn {
  background-color: #ccc;
  color: black;
}

.orange-btn {
  background-color: #f05a00;
  color: white;
}

.gray-btn:hover {
  background-color: #b3b3b3;
}

.orange-btn:hover {
  background-color: #cc4400;
}

.gray-btn:active,
.orange-btn:active {
    transform: scale(0.96);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}


