<head><meta name="viewport" content="width=device-width, initial-scale=1.0"></head>

<body>


<div class="container">
  <div class="left-section"></div>

  <div class="right-section">
    <div class="form-container">
      <h2 class="title">Inicio de sesión</h2>
      <label class="negrita">Correo electrónico</label>
      <input type="text"/>
      <label class="negrita">Contraseña</label>
      <input type="password"/>

      <a class="forgot" href="#">¿Has olvidado tu contraseña?</a>

      <div class="buttons">
        <a href="http://localhost:4200/registrar">
          <button class="gray-btn">Crear cuenta</button>
        </a>
        
        <a href="http://localhost:4200/home">
        <button class="orange-btn">Ingresar</button>
        </a>
      </div>
    </div>
  </div>
</div>
</body>

