<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Menú</title>
 
</head>
<body class="crearmenu"> <!-- Asegúrate de que la clase "crearmenu" esté aquí -->

    <h1 class="title">
        <img src="../../../assets/images/logo.png" alt="Logo" class="logo">
        <span>Crear menú</span>
    </h1>

    <div class="rectangle">
        <div class="container">
            <div class="form-container">
                <label class="negrita">Nombre: </label>
                <input type="text" placeholder="Ej: Pizza Fugazzeta">
                <label class="negrita">Descripción: </label>
                <input type="text" placeholder="Ej: Pizza con cebolla y mozzarella">
                <label class="negrita">Precio: </label>
                <input type="text" placeholder="Ej: 15.99">
                <label class="negrita">URL de imagen: </label>
                <input type="text" placeholder="Ej: https://ejemplo.com/imagen.jpg">

                <div class="buttons">

                    <a href="http://localhost:4200/home" class="gray-btn">Cancelar</a> 
                    <a href="http://localhost:4200/home" class="orange-btn">Registrar menú</a>
                 
                </div>
            </div>
            <div class="item-image">
                <img src="../../../assets/images/chef-menu.png" alt="Chef de menú">
            </div>
        </div>
    </div>

</body>
</html>